<nav class="navbar">
  <div class="navbar-left">
    <h2>Plateforme Stages - PFE - PFA</h2>
  </div>
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active">Accueil</a>
    <a routerLink="/proposer-sujet" routerLinkActive="active">Proposer un sujet</a>
    <a routerLink="/offres" routerLinkActive="active">Offres</a>
  </div>
  <div class="navbar-right">
    <button routerLink="/login" class="btn-login">Connexion</button>
    <button routerLink="/register" class="btn-register">Inscription</button>
  </div>
</nav>
